﻿<cfscript>
	rc.title = application.homeTitle;
</cfscript>
<cfoutput>
#view("home:global/message")#
<div class="container h-100">
	<div class="row">
		<div class="col-12">
			<h1>#rc.title#</h1>
		</div>
	</div>
</div>
</cfoutput>