.main-header .logo { cursor:default; height:53px; line-height:53px; text-decoration:none; }
.main-header .sidebar-toggle { text-decoration:none; }
.img-circle { border-radius:50%;}
.sidebar-menu .header hr { color:#fff; margin:5px 10px; }
.sidebar-menu li a { text-decoration:none; }
.box .box-header a.btn { color:#fff; }
.select2-container { display:block; width:100%; }
.select2-container .select2,
.select2-container .selection { width:100% !important; }
.select2-container .select2 .select2-selection,
.select2-container--default .select2-selection--multiple,
.select2-selection.select2-selection--single { border-radius:0 !important; }
.select2-container .select2-selection--multiple,
.select2-selection.select2-selection--single { height:34px !important; padding:6px 12px !important; font-size:14px !important; line-height:1.42857143 !important; color:#555 !important; border:1px solid #ccc !important; }
.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color:#605ca8 !important; border:1px solid #333 !important; border-radius:0 !important; margin:-1px 5px 0 0 !important; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color:#fff ! important; }
.select2-container .select2-selection--multiple .select2-selection__rendered { overflow:visible !important; padding-left:0 !important; }
.select2-container--default .select2-selection--multiple .select2-selection__rendered { padding:0 !important; }
.timeline-header { font-weight:bold; }
label { font-weight:bold; }
.form-check-label { font-weight:normal; }
.knobTotalNumber { font-size:100px; }
.main-footer img { max-height:25px; }