﻿/* overall default */
body { background-color:#f5f5f5 ! important; }
.form-control:focus, .form-control, .btn { border-radius:0; outline:0; box-shadow:none; }
.input-group-prepend { height:calc(2.25rem + 2px); }
.input-group-prepend .input-group-text { border-radius:0; }
.focused > .input-group-prepend > .input-group-text { background-color:#80bdff; border-color:#80bdff; }
.navbar-brand-sub { color:#fff; }
.alert p { margin-bottom:0.25rem; }
/* checkbox, radio */
.list-inline.list-checkbox, .list-unstyled.list-checkbox,
.list-inline.list-radio, .list-unstyled.list-radio { margin:0; padding:0; line-height:calc(2.25rem + 2px); }
.list-checkbox li, .list-radio li { position:relative; margin:0 10px 0 0; padding:0; text-align:left; }
input[type='checkbox'], input[type='radio'] { position:absolute; display:none; z-index:-1; }
input[type='checkbox'] + label, input[type='radio'] + label { display:inline-block; cursor:pointer; }
input[type='checkbox'] + label:before, input[type='radio'] + label:before { display:inline-block; margin:0; width:16px; font-family:'FontAwesome'; font-weight:300; font-size:14px; color:inherit; text-align:left; height:30px; line-height:30px; color:#555; }
input[type='checkbox'] + label:before { content:'\f096'; }
input[type='checkbox']:checked + label:before { content:'\f046'; }
input[type='checkbox'].indeterminate + label:before { content:'\f147'; }
input[type='radio'] + label:before { content:'\f10c'; }
input[type='radio']:checked + label:before { content:'\f05d'; }
.list-unstyled.list-checkbox.list-single-middle { margin:29px 0 12px; }
input[type='checkbox'] + label.no-label, input[type='radio'] + label.no-label { margin:0; height:inherit; line-height:inherit; }
input[type='checkbox'] + label.no-label:before, input[type='radio'] + label.no-label:before { display:block; margin:8px 0 -8px; padding:0; width:16px; color:inherit; text-align:center; height:inherit; line-height:inherit; }
/* help-messages in admin */
.help-block { color:#e05a2b; }
/* custom popovers */
.info-link { color:var(--blue-dark); cursor:pointer; }
.custom-popover {
	--bs-popover-max-width:400px;
	--bs-popover-border-color:var(--blue-dark);
	--bs-popover-header-bg:var(--blue-dark);
	--bs-popover-header-color:var(--white);
	--bs-popover-body-padding-x:1rem;
	--bs-popover-body-padding-y:.5rem;
}
/* terug naar boven knop */
.back-to-top {
	background-color:var(--blue-regular);
	border:1px solid var(--blue-regular);
	border-radius:4px;
	bottom:5px;
	color:var(--white) ! important;
	display:none;
	font-size:1.4em;
	font-weight:500;
	opacity:0.95;
	padding:5px 15px;
	position:fixed;
	right:5px;
	text-decoration:none;
}
.back-to-top:hover,
.back-to-top:active,
.back-to-top:focus { background-color:rgba(99,78,66,0.5); color:var(--white); text-decoration:none; }
.back-to-top i:before { color:#fff; }
.back-to-top i { font-style:normal; }
/* media queries */
@media print {
	header, footer { display:none; }
}