body { background-color:#fff ! important; padding-top:0; }
header, .noprint { display:none; }
.card { border:none; margin-bottom:0 ! important; }
p, ul, ol, li { page-break-inside:avoid; }
h3 { font-size:1.3rem; }
h4 { font-size:1.2rem; }
h5 { font-size:1.1rem; }